doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/styles.css')
	body
		header
			h1 #{title}
		.container
			.main-menu
					a(href="/",class="menu-link") На главную
					a(href="/operations",class="menu-link") Все операции
					a(href="/calculator",class="menu-link") Калькулятор